@color1: #00e98b;
@color2: #00aa86;

body {
  padding: 0;
  margin: 0;
}

.font {
  font-family: Kalinga, sans-serif;
}

.container {
  width:360px;
  height:640px;
  overflow:hidden;
}

header {
  -webkit-box-shadow: 0 4px 5px #ccc;
  -moz-box-shadow: 0 4px 5px #ccc;
  box-shadow: 0 4px 5px #ccc;
  .header-inner {
    .header-title {
      float:left;
      text-transform: uppercase;
      font-family: Kalinga;
      margin-top: 5px;
      padding: 5px 5px;
    }
    .header-cog {
      float:right;
      padding: 5px 5px;
    }
  }
}

form.event-create-form-outer {
  .event-create-textinput{
    width:80%;
    margin-left:10%;
  }
  .event-create-submit{
    width:80%;
    margin-left:10%;
  }
  .event-create-radio-toolbar{
    width:80%;
    margin-left:10%;
    input {
      width:50%;
    }
    label {
      width:50%;
    }
    input[type="radio"]:checked + label {
      background:blue;
    }
  }
}

.start-elem-outer {
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  .start-elem-icon {
    float:left;
  }
  .start-elem-text {
    font-family: Kalinga, sans-serif;
    font-size: 11px;
    width: 200px;
    padding: 10px;
    float:left;
  }
  .start-elem-btn {
    float:left;
    padding: 10px;
  }

  .start-elem-hidden {

    .start-elem-album {
      .album-info {
        display: inline-block;
        width: 150px;
        .title {
          font-weight: bold;
          .font;
        }
        .people {
          .font();
          font-size: 11px;
          color: #ccc;
        }
        .updates {
          background: #c4762d;
          background: -moz-linear-gradient(-45deg,  #c4762d 0%, #d13a04 29%, #ff1616 74%);
          background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c4762d), color-stop(29%,#d13a04), color-stop(74%,#ff1616));
          background: -webkit-linear-gradient(-45deg,  #c4762d 0%,#d13a04 29%,#ff1616 74%);
          background: -o-linear-gradient(-45deg,  #c4762d 0%,#d13a04 29%,#ff1616 74%);
          background: -ms-linear-gradient(-45deg,  #c4762d 0%,#d13a04 29%,#ff1616 74%);
          background: linear-gradient(135deg,  #c4762d 0%,#d13a04 29%,#ff1616 74%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4762d', endColorstr='#ff1616',GradientType=1 );
          border-radius: 5px;
          color: white;
          padding: 0px 25px;
          display: inline-block;
          .font;
        }
    }
      .album-images {
        display: inline-block;
        position: relative;
        height: 100px;
        overflow-y: hidden;
        width: 185px;
        .image-scroll {
          position: absolute;
          left:0;
          top:0;
          img {
            display: inline-block;
          }
        }

      }
    }

  }
}

nav {
  position: fixed;
  bottom:0;
  left:0;
}

.clearfix {
  clear: both;
}

